.shipping_form_container{
    padding-top: 130px;
}
.shipping_form input{
    display: block;
    margin-top: 20px;
    padding: 15px;
    width: 80%;
    border: 1px solid grey;
    border-radius: 5px;
}
.error{
    color: red;
}