.shop_container{
    padding-top: 90px;
    margin-top: 20px;
}
.product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cart_container{
    margin-top: 10px;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 35px -2px #48497926;
}