.shop_container{
    margin-top: 20px;
}
.product_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.cart-status{
    margin-top: 10px;
}
.cart-status a{
    color: #0056B3;
}
.cart_container{
    margin-top: 10px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 35px -2px #48497926;
}
.cart_item_name{
    margin-left: 50px;
}
.order_placed_msg{
    color: green;
}