.review_item_style{
    padding: 20px;
    margin: 10px;
    width: 250px;
    height: 230px;
    border-radius: 10px;
    box-shadow: 0 0 35px -2px #48497926;
}
.review-item-product_name{
    color: #0056B3;
}
