.single_product{
    padding: 30px;
    margin: 10px;
    width: 250px;
    height: 450px;
    border-radius: 10px;
    box-shadow: 0 0 35px -2px #48497926;
}
.single_product img{
    margin-bottom: 20px;
    padding: 10px;
    height: 180px;
    width: 200px;
    border: 1px solid #80808027;
}
.single_product p{
    font-size: 13px;
}
.product_name{
    color: #0056B3;
    height: 35px;
    font-size: 15px;
    font-weight: 500;
}
.cart_button{
    width: 100%;
}
.product_stock{
    color: #f72222;
}