.single_product{
    display: flex;
    border-bottom: 1px solid lightgray;
    margin-bottom: 5px;
    margin-right: 20px;
    padding-bottom: 5px;
}
.product_details{
    margin: 10px;
    padding: 10px;
}
.product_name{
    color: blue;
    font-weight: 500;
}
.cart_button{
    background-color: #f16508ca;
    width: 200px;
    height: 30px;
    border: 1px solid #221f1f;
    border-radius: 5px;
    cursor: pointer;
    transition: all .2s ease-in-out;
}
.cart_button:hover { 
    transform: scale(1.1); 
}
.product_stock{
    color: red;
}

/* .grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); } */