.header img{
    height: 80px;
}
.header{
    text-align: center;
}
.header nav{
    background-color: grey;
    line-height: 40px;
    font-size: 20px;
}
nav a{
    color: white;
    text-decoration: none;
    margin-right: 0px 20px;
    padding: 10px;
}
nav a:hover{
    color: black;
}